In [280]:
data = \
'''
{
    "extension": "jpg",
    "r": 0.9917355371900827,
    "updated": {
        "_seconds": 1629742910,
        "_nanoseconds": 922000000
    },
    "uploader": "eBZkvyyn4Kasd9pCLnkiU45vBtC2",
    "accumulator": null,
    "metadata": {
        "no": "metadata"
    },
    "name": "99.jpg",
    "annotations": {
        "f": {
            "converted": "{\"key\":\"99.jpg\",\"width\":640,\"height\":637,\"boxes\":[{\"label\":\"glasses\",\"x\":\"368.00\",\"y\":\"172.00\",\"width\":\"204.00\",\"height\":\"76.00\"}]}",
            "lastSet": "1629843448699"
        }
    },
    "height": 637,
    "width": 640,
    "datasets": [
        "kMqvVbmr3y1Pqu0GljGq"
    ],
    "owner": "eBZkvyyn4Kasd9pCLnkiU45vBtC2",
    "batches": [
        "kMqvVbmr3y1Pqu0GljGq/nRDntGyELKIXfFXq8Z4r"
    ],
    "hashes": [
        "34a21498ba7087d61900a3ec6814cb5b"
    ],
    "split.kMqvVbmr3y1Pqu0GljGq": "train",
    "id": "t7qLnoVWbQdFMdj5vA30"
}
'''
data[data.find('"boxes\"')+9:data.find('}]}')+1]

'{"label":"glasses","x":"368.00","y":"172.00","width":"204.00","height":"76.00"}'

In [281]:
import json

temp = data[data.find('"key\"'):data.find('"boxes\"')-1]
img_path = temp[temp.find('"key"')+7:temp.find('"width"')-2]

d = json.loads(data[data.find('"boxes\"')+9:data.find('}]}')+1])
print(';'.join([img_path,d['x'],d['y'],str(float(d['x'])+float(d['width'])),str(float(d['y'])+float(d['height']))]))

99.jpg;368.00;172.00;572.0;248.0

# Just Cheking

In [300]:
import pandas as pd

data = pd.read_csv('glasses.csv',delimiter=';')
data

    image_path  x_min  y_min   x_max  y_max
0        1.jpg  434.5  251.5   789.5  362.5
1        2.jpg  424.5  209.5   719.5  316.5
2        3.jpg  263.5  114.5   402.5  181.5
3        4.jpg  338.0  183.0   690.0  305.0
4        5.jpg  676.0  490.0  1488.0  800.0
..         ...    ...    ...     ...    ...
116    117.png  265.0  201.5   527.0  280.5
117    118.jpg  354.5  224.0   649.5  326.0
118    119.jpg  194.5  110.5   555.5  275.5
119    120.jpg  626.0  256.5  1114.0  457.5
120    121.jpg  235.0  251.5   571.0  342.5

[121 rows x 5 columns]

In [301]:
saved_x_min = data['x_min'].copy()

data['x_min']-=(data['x_max']-data['x_min'])//2
data['x_max']-=(data['x_max']-saved_x_min)//2

saved_y_min = data['y_min'].copy()

data['y_min']-=(data['y_max']-data['y_min'])//2
data['y_max']-=(data['y_max']-saved_y_min)//2

In [302]:
data.to_csv('glasses2.csv', sep = ';', index = False)

In [284]:
data['image_path']

0        1.jpg
1        2.jpg
2        3.jpg
3        4.jpg
4        5.jpg
        ...
116    117.png
117    118.jpg
118    119.jpg
119    120.jpg
120    121.jpg
Name: image_path, Length: 121, dtype: object

In [126]:
# df.loc[-1] = [img_path,d['x']]  # adding a row
# df.index = df.index + 1  # shifting index
# df = df.sort_index()
# df

  img_path   x_min
0    1.jpg  434.50

In [125]:
# df = pd.DataFrame(columns = ['img_path','x_min'])